body{
    margin-left: auto;
    margin-right: auto;
    color:#C6C0A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: #7D775C;
    font-weight: bold;
    font-style:oblique;
    text-align: center;
    font-size: x-large;
    margin-bottom: 0;
}
h3{
    color: #7D775C;
    letter-spacing: 1px;
    font-weight: bold;
    font: normal 1.3em georgia, sans-serif
   
}
li{
    padding-top: 12px;
}
.vert{
    color: #006600; 
}
#duree {
    color: #990033;
    font-size: x-large;
    text-decoration: underline;
}