@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    margin: 0; 
    padding:0;
    font-family:'Cinzel', serif;
    background-image: url(../images/fond11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width :100%;
    height :100%;

}   
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    font-family:'Cinzel', sans-serif ;
    padding: 20px;
    margin: 0;
    margin-top: 0px;

}
footer{
    background-color: #943d27;
    color:rgb(235, 162, 52);
    text-align:center;
    padding: 20px;
    margin-top: 550px;
    margin-bottom: 0px;
  
}
