#logo{
    margin-top: 0px;
    margin-bottom: 50px;
    align-content: left;
}
body {
        background-color: #e3007e ;
        background-image:url(/BORNE AFPA/images/back1.jpg);
        background-repeat:no-repeat; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #87bb34;
        }
   
  

/* .container{
  ;
} */