li ul, li em  { /* closed */
    position:absolute;
    left:-9999px;
  }
  li:focus ul, li:active ul {/* opened*/
    left:-1em;
    right:-1em;
  }
  li:focus em,li:active em {/* closes (li looses focus)*/
    right:0em;
    left:auto;
  }
  
  /* mise en forme minimaliste */
  ul {margin:0;padding:0;}
  ul li {position:relative;display:inline-block;margin:0 1em;padding:0 0.5em;background: white;
  }
  li li {display:block;}
  li em {
    padding:0 0.45em;
    background: rgb(129, 126, 126);
    border: radius 8px;
    height:20px;
    line-height:0.7em;
    flex-direction:column;
    display: flex;
    
  }
  
