
body{
    background-image: url("/savemyuka/images/Fond2-1.jpg");
    /* height: 10vh; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-style: outset;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 1;
} 
#scanner{
    text-align:center;
    font-size: 1em;
    font-weight: bold;
    border-style: outset;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 1;
   } 

.row{
    justify-content: center;
    border-style: outset;
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
    opacity: 1;
  
}
.col-md-6{
    justify-content: center;
    align-self: center;
}
#card{
    align-content: center;    
}
.card{
    color: black;
    justify-content: center;
    border-style: outset;
}

.allergies{
    justify-content: center;
    text-align: center;
    color: white;    
}

.degrade-diagonal{
    border-style: outset;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 1;
  
}
.msg{
    justify-content: right;
}
.modal-title{
    color: rgb(40, 8, 96);
}
.mb-3{
    color: rgb(40, 8, 96);
}